.global-messag0eBox {
  .el-button--default {
    &:hover {
      color: #606266;
      background-color: initial;
      border-color: #dcdfe6;
    }
  }
  .el-button--primary {
    background-color: #ed6336;
    border-color: #ed6336;
    &:hover {
      color: #fff;
      border-color: #ed6336;
      background-color: #ed6336;
    }
  }
}
